html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#items > div{
  position:relative;
  float:left; 
  width:80px;
  height:120px;
  border: 1px solid gray;
  font-size:10px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding:5px;
  cursor: pointer; 
  cursor: hand;
  background-color:white;
}

#items > div img{
  max-width:80px;
  max-height:80px;
}

.select_multiple_container {  
    width:300px;  
    z-index:500;  
    position:relative;
    border:1px solid #222;  
    border-top:none;  
} 
 
.select_multiple_container .select_multiple_header {  
    background-repeat:repeat-x;  
    background-position:top center;  
    color:#eee;  
    font-family:"Lucida Grande",Verdana;  
    font-weight:bold;  
    font-size:12px;  
    margin:0;  
    padding:7px 0 8px 10px;  
    background-color:#000;  
    cursor: pointer; 
    cursor: hand;
    z-index:600;
} 
 
table.select_multiple_table td {  
    height:27px;  
    border-bottom:1px solid #ddd;  
    font-family:"Lucida Grande",Verdana;  
    color:#333;  
    font-size:11px;  
} 
 
table.select_multiple_table tr.even {  
    background-color:#FCFCFC;  
} 
 
table.select_multiple_table tr.odd {  
    background-color:#F7F7F7;  
} 
 
table.select_multiple_table tr.selected {  
    background-image:none;  
    background-color:#D9E9FE;  
} 
 
.select_multiple_name {  
    padding-left:15px;  
    font-weight:bold;  
} 
 
.select_multiple_checkbox {  
    text-align:rightright;  
} 
 
.select_multiple_checkbox input {  
    margin-right:15px;  
}  
