<p>
  <b>Tracking number:</b>
  <%=h @order_item_tracking_number.tracking_number %>
</p>

<p>
  <b>Carrier:</b>
  <%=h @order_item_tracking_number.carrier %>
</p>


<%= link_to 'Edit', edit_order_item_tracking_number_path(@order_item_tracking_number) %> |
<%= link_to 'Back', order_item_tracking_numbers_path %>
